# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# Build files
# =========================
out/
target/
build/

# Java compiled files
*.class
*.jar
*.war
*.ear

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Git security
# =========================
*.pem
*.key
id_rsa
id_rsa.pub
.ssh/

# =========================
# Ensure source folders are tracked
# =========================
!src/
!test/